$bgColog: #3f3b3a;
$mainColor: #1fac4c;
$fontFace: microsoft yahei, simsun;


body {
	background: $bgColog;
	font-family: $fontFace;
	-webkit-user-select: none;
}
input {
	outline:none;
	-webkit-appearance: none;
	border-radius: 0;
}

.page {
	min-width: 320px;
	max-width: 320px;
	margin: 0 auto;
	.logo {
		width: 140px;
		height: 140px; 
		border-radius: 10%;
		background: $mainColor;
		margin: 40px auto;
		text-align: center;
		line-height: 140px;
		font-size: 20px;
		font-weight: bold;
		color: #fff;
	}
	.form-section {
		width: 65%;
		margin: 0 auto;
		overflow: hidden;

		.bk-input {
			margin: 0;
			border: 3px solid $mainColor;
			padding: 5px 10px;
			border-radius: 8px;
			margin-bottom: 15px;
			background: #fff;

			input {
				display: block;
				border: none;
				width: 100%;
				font-size: 14px;
				height: 20px;
				line-height: 20px;
				background-color: transparent;
			}
		}
	}

	.btn-comm {
		padding: 8px 0;
		border-radius: 8px;
		display: block;
		width: 65%;
		color: #fff;
		font-size: 1.2em;
		margin: 5px auto;
		text-align: center;
		font-size: 18px;
		letter-spacing: 2px;
	}
	.btn-green {
		background: $mainColor;
		margin-bottom: 25px;
	}
	.btn-grey {
		background: #956134;
		span {
			&.row-1 {
				font-size: 1rem;
			}
			display: block;
			line-height: 30px;
		}
	}
}