.kf-detail {
	font-size: 100px;
	.page {
		overflow: hidden;
		font-size: 0.16rem;
	}
	.page .view-content .view-content-con {
		padding-bottom: 90px;
	}
	.page-cover {
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0,0,0,.6);
		top: 0;
		left: 0;
		z-index: 90;
		display: none;
		&.show {
			display: block;
		}
	}
	.to-top {
		width: 0.44rem;
		height: 0.44rem;
		position: absolute;
		right: 0.15rem;
		bottom: 0.6rem;
		background-image: url(img/2_0/kf/totop.png);
		background-size: cover;
	}
	.make-order {
		height: 2.3rem;
		width: 100%;
		position: absolute;
		bottom: -2.5rem;
		left: 0;
		background: #fff;
		z-index: 100;
		padding: 0.1rem 0;
		font-size: 0.16rem;
		-webkit-transition: all .3s ease-in-out;
		transform: translate3d(0,0,0);
		&.show {
			-webkit-transform: translateY(-250px);
		}
		.title {
			margin: 0 0.1rem;
			padding: 0.05rem 0;
			position: relative;
			a.close {
				width: 0.2rem;
				height: 0.2rem;
				position: absolute;
				top: 0;
				right: 0;
				-webkit-transform: rotate(45deg);
				&:before {
					width: 1px;
					height: 100%;
					position: absolute;
					content: "";
					background: #999;
					left: 50%;
				}
				&:after {
					height: 1px;
					width: 100%;
					position: absolute;
					content: "";
					background: #999;
					top: 50%;
				}
			}
		}
		.options {
			margin: 0.1rem;
			border-bottom: 1px solid #3acd64;
			.option {
				display: -webkit-box;
				-webkit-box-pack: justify;
				a.item {
					display: block;
					width: 0.7rem;
					height: 0.44rem;
					line-height: 0.44rem;
					text-align: center;
					color: #999;
					border: 1px solid #d1d1d1;
					border-radius: 2px;
					box-sizing: border-box;
				}
				a.item.on {
					background: $maincolor;
					border: 0;
					color: #fff;
					-webkit-transition: all .3s ease-in-out;
				}
			}
			.option-info {
				padding: 0.05rem 0;
				display: -webkit-box;
				-webkit-box-pack: start;
				a {
					display: block;
					width: 0.7rem;
					height: 0.44rem;
					line-height: 0.44rem;
					text-align: center;
				}
				a:last-of-type {
					width: auto;
					margin-left: 0.1rem;
				}
			}
		}
		.price-line {
			text-align: right;
			line-height: .25rem;
			margin: 0.1rem;
			span {
				color: #f48080;
			}
		}
		.button-2 {
			margin: 0.1rem;
			background: $maincolor;
		}
	}
	.top-navigator {
		.left em.iconfont {
			font-size: 16px;
		}
		.right em.iconfont {
			font-size: 22px;
		}
	}
	.back-info {
		margin: 0.1rem;
		color: #666;
		.tle {
			font-size: 0.18rem;
		}
		.end {
			padding: 0.1rem 0;
		}
		p {
			line-height: 1.8em;
			font-size: 0.14rem;
		}
	}
	.shopchart-sec {
		width: 100%;
		height: 45px;
		line-height: 45px;
		display: -webkit-box;
		-webkit-box-pack: justify;
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 16px;
		z-index: 50;
		a {
			display: block;
			width: 50%;
			text-align: center;
			line-height: 45px;
			color: #fff;
			&.now {
				background: #88a400;
			}
			&.add {
				background: $maincolor;
				text-indent: 25px;
				em.iconfont {
					font-size: 25px;
					position: absolute;
					margin-left: -50px;
					margin-top: -1px;
				}
			}
		}
	}
	.view-content-con {
		font-size: 0.16rem;
		-webkit-transition: all .3s ease-in-out;
		.area-title {
			height: 0.28rem;
			line-height: 0.28rem;
			padding: 0.05rem 0 0.1rem 0.05rem;
			padding-left: 0.2rem;
			padding-right: 0.2rem;
			.iconfont {
				margin-right: 0.08rem;
			}
		}

		.area-compare {
			height: 3.2rem;
			margin-left: 0.1rem;
			margin-right: 0.1rem;
			position: relative;
			overflow: hidden;
			background: #efefef;
			img {
				display: block;
			    /*position: absolute;
			    top: 50%;
			    margin-top: -1.65rem;*/
			}
			/*.onhide {
				height: 0.9rem;
				transform: translate3d(0,0,0);
				.cover {
					opacity: 1;
				}
			}*/
			.after {
				overflow: hidden;
			}
			.before {
				overflow: hidden;
			}
			.area-pic {
				position: relative;
				-webkit-transition: all .5s ease-in-out;
				transform: translate3d(0,0,0);
				height: 100%;
				width: 100%;
				position: absolute;
				border-radius: 0;
				bottom: 0;
				left: 0;
				margin-left: 0;
				/*z-index: 10;*/
				overflow: hidden;
				border: 0 solid rgba(255,255,255,.7);
				overflow: hidden;
				display: -webkit-box;
				img {
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
				}
				/*.cover {
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,.5);
					position: absolute;
					top: 0;
					left: 0;
					display: -webkit-box;
					-webkit-box-align: center;
					-webkit-box-pack: center;
					-webkit-transition: all .3s ease-in-out;
					color: $maincolor;
					font-size: 18px;
					font-weight: bold;
					text-align: center;
					span {
						display: block;
					}
				}*/
			}
			.oninit {
				width: 0.4rem;
				height: 0.4rem;
				position: absolute;
				border-radius: 50%;
				bottom: 0.05rem;
				left: 50%;
				margin-left: -0.25rem;
				border: 0.03rem solid rgba(255,255,255,.8);
				-webkit-animation: borderLight 1s 5;
				/*z-index: 10;*/
				.txt {
					opacity: 0;
					-webkit-transition: all .5s ease-in-out;
				}
			}
			.onhide {
				-webkit-transform: scale(1.2);
				opacity: 0;
			}
		}
		.hourse-from {
			height: 0.45rem;
			line-height: 0.45rem;
			margin-left: 0.1rem;
			margin-right: 0.1rem;
			font-size: 0.16rem;
			color: #666;
			border-bottom: 1px solid #d1d1d1;
		}
		.detail-pic {
			width: 100%;
			height: 1.6rem;
			background-image: url(img/2_0/kf/detail.jpg);
			background-size: 100%;
		}
		.detail-item {
			margin: 0.1rem 0.1rem 0 0.1rem;
			padding-bottom: 0.1rem;
			height: 2.85rem;
			border-bottom: 1px solid #d1d1d1;
			position: relative;
			overflow: hidden;
			.img {
				width: 2rem;
				height: 2.85rem;
				position: absolute;
				top: 0rem;
				left: 0rem;
			}
			.info {
				margin-left: 2.1rem;
				height: 2.85rem;
				.tle {
					height: 0.5rem;
					display: -webkit-box;
					-webkit-box-pack: end;
					-webkit-box-align: center;
					border-bottom: 1px dashed #d1d1d1;
					background-position: 0 0.1rem;
					background-repeat: no-repeat;
					position: relative;
					span {
						display: block;
						font-size: 0.18rem;
						text-align: right;
						em {
							font-size: 0.14rem;
							color: #666;
						}
					}
					&:before {
						display: block;
						content: "";
						position: absolute;
						top: 0.05rem;
						left: 0;
						width: 0.2rem;
						height: 0.26rem;
						background-size: cover;
					}
					&.one:before {
						background-image: url(img/2_0/kf/detail_no1.png);
					}
					&.two:before {
						background-image: url(img/2_0/kf/detail_no2.png);
					}
					&.three:before {
						background-image: url(img/2_0/kf/detail_no3.png);
					}
					&.four:before {
						background-image: url(img/2_0/kf/detail_no4.png);
					}
					&.five:before {
						background-image: url(img/2_0/kf/detail_no5.png);
					}
					&.six:before {
						background-image: url(img/2_0/kf/detail_no6.png);
					}
					&.seven:before {
						background-image: url(img/2_0/kf/detail_no7.png);
					}
				}
				p {
					font-size: 0.14rem;
					line-height: 1.5em;
					color: #666;
					padding-top: 0.05rem;
					text-align: justify;
				}
			}
		}
		.detail-more {
			height: .45rem;
			text-align: center; 
			font-size: 0.16rem;
			color: #d1d1d1;
			line-height: 0.45rem;
			border-bottom: 1px solid #d1d1d1;
			margin: 0 0.1rem;
		}
		.product-nav {
			margin: 0 0.1rem;
			height: 0.45rem;
			line-height: 0.45rem;
			font-size: 0.16rem;
			display: -webkit-box;
			-webkit-box-pack: justify;
			border-bottom: 1px solid #d1d1d1;
			.item {
				display: block;
				text-align: center;
				width: 33%;
				box-sizing: border-box;
				&.on {
					border-bottom: 2px solid $maincolor;
					color: $maincolor;
					font-weight: bold;
				}
			}
		}
		.product-params {
			margin: 0 0.1rem;
			position: relative;
			.tle {
				height: 0.45rem;
				line-height: 0.45rem;
				margin: 0;
				padding: 0;
				font-weight: normal;
				font-size: 0.16rem;
				text-indent: 0.5em;
			}
			
			.area-compare {
				margin: 0;
				overflow: hidden;
				border-radius: 10px;
				height: 2rem;
				img {
					border-radius: 10px;
				}
				.area-pic {
					top: 0;
					right: 0;
					left: auto;
					bottom: auto;
				}
				.oninit {
					top: 0.1rem;
					left: auto;
					margin-left: auto;
				}
				.onshow {
					border-radius: 10px;
					overflow: hidden;
					.txt {
						opacity: 1;
					}
					/*img {
						margin-top: -1rem;
					}*/
				}
				.brfore-show {
					border-radius: 10px;
					overflow: hidden;
				}
				.s1 {
					right: 0.1rem;
					&.active {
						right: 0;
						z-index: 10;
						border-radius: 10px;
						overflow: hidden;
					}
				}
				.s2 {
					right: 0.45rem;
					&.active {
						right: 0;
						z-index: 10;
						border-radius: 10px;
						overflow: hidden;
					}
				}
				.s3 {
					right: 0.8rem;
					&.active {
						right: 0;
						z-index: 10;
						border-radius: 10px;
						overflow: hidden;
					}
				}
			}
			.txt {
				position: absolute;
				z-index: 30;
				bottom: 0.1rem;
				left: 0.1rem;
				line-height: 0.2rem;
				color: #fff;
				font-weight: bold;
				text-shadow: 1px 1px 5px rgba(0,0,0,1);
			}
			@media screen and (min-width: 321px) {
				.area-compare {
					height: 2.8rem;
				}
			}
		}
		.params-item-list {
			color: #666;
			line-height: 0.3rem;
			font-size: 0.14rem;
			padding: 0.1rem 0;
			border-bottom: 1px solid #d1d1d1;
			span {
				display: inline-block;
				width: 32%;
			}
		}
		.params-timeline {
			border-top: 1px solid #d1d1d1;
			border-bottom: 1px solid #d1d1d1;
			padding: 0.1rem 0;
			.line-list {
				margin-left: 0.05rem;
				border-left: 2px solid $maincolor;
				.beizhu {
					font-size: 0.14rem;
					color: #666;
					height: 0.4rem;
					margin-top: 0.05rem;
					line-height: 0.2rem;
					span {
						float: left;
					}
				}
			}
			.line-cont {
				margin: 0 0 0.1rem 0.15rem;
				.area-compare {
					height: 1.87rem;
				}
				.tle {
					font-size: 0.14rem;
					position: relative;
					span {
						display: block;
						line-height: 0.2rem;
					}
					em {
						display: block;
						position: absolute;
						width: 0.1rem;
						height: 0.1rem;
						background: $maincolor;
						border-radius: 50%;
						left: -0.21rem;
						top: 50%;
						margin-top: -0.1rem;
					}
				}
			}
		}
		.product-comment {
			margin: 0 0.1rem;
		}
		.comment-box {
			padding: 0.1rem 0;
			border-bottom: 1px solid #d1d1d1;
			.head {
				height: 0.4rem;
				position: relative;
				.hd-pic {
					width: 0.4rem;
					height: 0.4rem;
					position: absolute;
					border-radius: 50%;
					background: #efefef;
					overflow: hidden;
					img {
						width: 0.4rem;
						height: 0.4rem;
					}
				}
				.hd-info {
					margin-left: 0.5rem;
					font-size: 0.16rem;
					span {
						display: block;
						line-height: 0.2rem;
						&.uname {
							color: #666;
						}
						&.ctime {
							color: #999;
							font-size: 0.14rem;
							i {
								float: right;
								margin-right: 0.05rem;
							}
						}
					}
				}
			}
			.comment-txt {
				font-size: 0.14rem;
				line-height: 1.6rm;
				padding: 0.1rem 0;
			}
			.comment-star {
				height: 0.5rem;
				padding-bottom: 0.05rem;
				font-size: 0.14rem;
				.star-item {
					float: left;
					height: 0.2rem;
					width: 50%;
					line-height: 0.2rem;
					margin-bottom: 0.05rem;
					.txt {
						color: #666;
						float: left;
					}
					.stars {
						width: 0.8rem;
						height: 0.11rem;
						margin-left: 0.03rem;
						background-image: url(img/2_0/star-0.png);
						background-size: 100% 100%;
						margin-top: 0.04rem;
						float: left;
						.star-1 {
							width: 60%;
							height: 100%;
							overflow: hidden;
							.star1-bg {
								width: 0.8rem;
								height: 0.11rem;
								background-image: url(img/2_0/star-1.png);
								background-size: 100% 100%;
							}
							&.st1 {
								width: 20%;
							}
							&.st2 {
								width: 40%;
							}
							&.st3 {
								width: 60%;
							}
							&.st4 {
								width: 80%;
							}
							&.st5 {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
@-webkit-keyframes borderLight {
	0% {
		box-shadow: 0 0 0 rgba(255,255,255,1);
	}
	50% {
		box-shadow: 0 0 20px rgba(255,255,255,1);
	}
	100% {
		box-shadow: 0 0 0 rgba(255,255,255,1);
	}
}