.refund {
	font-size: 100px;
	.top-navigator {
		em {
			font-size: 16px;
		}
	}
	.refund-txt {
		font-size: 0.14rem;
		color: #555;
		line-height: 1.6em;
		padding: 0.1rem;
		p {
			margin-bottom: 0.05rem;
		}
	}
}